@charset "utf-8";

html, body, div, header, nav, footer,
form, fieldset, legend,
ul, li, dl, dt, dd, 
h1, h2, p {
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
    color: #4f4f4f;
}
ul {
    list-style: none;
}
fieldset {
    border: 0;
}

/* 숨김 콘텐츠 */
.hidden, legend {
    position: absolute;
    left: -9999px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

/* 기본 스타일 */
@font-face {
    font-family: "Nanum";
    font-weight: 400;
    src: url(font/NanumGothic.eot?#iefix) format("embedded-opentype"),
      url(font/NanumGothic.woff) format("woff"),
      url(font/NanumGothic.ttf) format("truetype");
  }
  @font-face {
    font-family: "NanumBold";
    font-weight: 600;
    src: url(font/NanumGothicBold.eot?#iefix) format("embedded-opentype"),
      url(font/NanumGothicBold.woff) format("woff"),
      url(font/NanumGothicBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "NanumEX";
    font-weight: 900;
    src: url(font/NanumGothicExtraBold.eot?#iefix) format("embedded-opentype"),
      url(font/NanumGothicExtraBold.woff) format("woff"),
      url(font/NanumGothicExtraBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "webcafeIcon";
    font-weight: 400;
    src: url(font/webcafeIcon.eot?#iefix) format("embedded-opentype"),
      url(font/webcafeIcon.woff) format("woff"),
      url(font/webcafeIcon.ttf) format("truetype"),
      url(font/webcafeIcon.svg#webcaferegular) format("svg");
  }

/* 링크스타일 */
a:link, a:visited { 
    color: #4f4f4f;
    text-decoration: none;
}
body {
    font-family: "Nanum";
    color: #000;
    background-color: #fff;
    font-size: 0.75em; /* 약 12px */
    line-height: 1.2;
}

/* 건너뛰기 링크 */
#skipNav{
    position: absolute;
    left: -9999px;
}
#skipNav:focus {
    left: 0;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    z-index: 10; /*다른것보다 먼저 나오게 만듦*/
}

/* 전체적인 레이아웃 설계 */
#header, #container, #footer {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 헤더 영역 시작  */
#header {
    position: relative;
    padding: 0;
}
#header .logo {
    position: absolute;
    top: 60px;
    left: 50px;
}

/* 탑메뉴 */
.topmenu {
    height: 40px;
    overflow: hidden;
    padding: 5px 5px 0 5px;
    font-size: 0.9em;
    background: linear-gradient(to bottom, #ccc 0%, #eee 100%  )
}
/* topLink */
.topmenu > .topLink {
    position: relative;
    left: -5px;
    top: -8px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.topLink > li {
    float: left;
    margin: 20px 0 0 -24px;
    height: 35px;
    /* border-radius: 0 100px 0 100px; */
    /* border-radius: 10px 80px 15px 70px / 70px 15px 70px 15px; */
    border-radius: 10px 50px 15px 35px / 10px 35px 0px 5px;
    text-align: right;
    position: relative;
}
.topLink > li > a {
    position: relative;
    top: 10px;
    left: -20px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 5px #666;
}
.topLink > li:nth-child(1) img {
    width: 20px;
    position: relative;
    top: 15px;
    right: 20px;
}
.topLink > li:hover {
    top: -6px;
}
.topLink > li:first-child:hover {
    top: 0px;
}
.topLink > li:nth-child(1) {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 0 0 0 -20px;
    border-radius: 10px 80px 0px 50px / 10px 55px 10px 0px;
    background-color: #fff;
    z-index: 10;
}
.topLink > li:nth-child(2) {
    width: 170px;
    background-color: #89ceeb;
    z-index: 9;
}
.topLink > li:nth-child(3) {
    width: 100px;
    background-color: #CFEDC5;
    z-index: 8;
}
.topLink > li:nth-child(3) img {
    margin-top: -1px;
    margin-right: -5px;
}
.topLink > li:nth-child(4) {
    width: 90px;
    background-color: #118704;
    z-index: 7;
}
.topLink > li:nth-child(5) {
    width: 110px;
    background-color: #F2C024;
    z-index: 6;
}
.topLink > li:nth-child(6) {
    width: 160px;
    background-color: #0195d3;
    z-index: 5;
}
.topLink > li:nth-child(7) {
    width: 90px;
    background-color: #6C6E07;
}

/* infoLink */
.topmenu > .infoLink {
    display: inline-block;
    text-align: right;
    margin-left: 100px;
    margin-bottom: 20px;
    overflow: hidden;    
}
.infoLink > li {
    float: left;
    margin: 3px;
}
.infoLink > li::after {
   content: "|";
   padding-left: 5px;
}
.infoLink > li:last-child::after {
    content: " ";
}
.infoLink > li:last-child {
    position: absolute;
    right: 37px;
    top: 15px;
}
.infoLink .zoom button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0 2px;
    border: none;
    font-size: 16px;
    color: #016aba;
    text-shadow: 1px 0px 0px #89ceeb,
                 0px 1px 0px #89ceeb,
                -1px 0px 0px #89ceeb,
                 0px -1px 0px #89ceeb;
    font-weight: bold;
}

/* 검색 영역 */
#search {
    background-color: #fff;
    height: 100px;
}
#search form {
    display: inline-block;
    width: 1000px;
}
#search .total_search {
    position: relative;
    top: 15px;
    left: 270px;
    margin: 20px;
    width: 600px;
    height: 40px;
    border: 1px solid #016aba;
    border-radius: 20px;
}
#search .sub01 select {
    position: absolute;
    top: 2px;
    border: none;
    border-radius: 35px;
    padding: 10px;
    color: #01345b;
}
#search .sub01 select:focus {
    outline: none;
}
#search .sub02 input {
    position: absolute;
    left: 120px;
    top: 2px;
    width: 300px;
    padding: 10px;
    border: none;
    color: #01345b;
    text-indent: 10px;
}
#search .sub02 input:focus {
    outline: none;
}
#search .sub03 > button {
    position: absolute;
    top: 6px;
    left: 550px;
    display: inline-block;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
#search .sub03 > button >img {
    width: 25px;
    height: 25px;
}
#search .sub04 {
    position: relative;
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    top: -15px;
}
.mypage img {
    width: 25px;
    margin-right: 10px;
}
.mypage span {
    position: relative;
    top: -6px; 
}
.mypage span:hover {
    color: #0195d3;
    background-image: url('../images/bg_gnb_05.png');
}

/*----------- 메인메뉴 영역----------- */
#nav {
    position: relative;
}
/* 메뉴 배경 */
.subMenu_bg {
    width: 100%;
    height: 320px;
    margin: 0 auto;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    /* background-image : url("../images/bg_gnb_01.png"); */
    /* border-top: 2px solid #89ceeb; */
    border-bottom: 2px solid #89ceeb;
    box-shadow: 1px 1px 3px rgba(137, 206, 235, 0.2);
    display: none;
}
/* 햄버거메뉴 */
.total {
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    left: 80px;
    cursor: default;
    /* 메뉴 추가 전까지는 cusor: default */
}
.total> img {
    width: 30px;
}


/*-- 상위메뉴 --*/
.mainMenu{
    z-index: 20;
    padding: 10px 10px 10px 0;
    height: 35px;
    margin-left: 120px;
    margin-top : 5px;
    /* border-bottom: 2px solid #89ceeb; */
}
.mainMenu > li { 
    float: left;
    height: 35px;
    padding-right: 10px;
    font-size: 1.4em;
    font-weight: bold;
}
.mainMenu > li::before {
    content: "·";
    margin: 8px;
}
.mainMenu > li:nth-of-type(1)::before {
    content: " ";
}
.mainMenu > li> a {
    padding: 20px 0;
}


/* --서브 메뉴 영역-- */
.mainMenu > li > div {
    position: absolute;
    left: 100px;
    top: 30px;
    width: 1000px;
    height: 300px;
    /* border: 1px solid #118704; */
    display: flex;
    /* overflow: hidden; */
}
.subMenu { 
    width: 1000px;
    position: absolute;
    z-index: 5;
    padding-top: 20px;
    font-size: 0.8em;
    display: none;
}
.subMenu01 {
    height: 300px;
    /* display: none; */
}
.subMenu02 {
    height: 270px;
    /* left: -125px; */
    /* display: none; */
}
.subMenu03 {
    height: 270px;
    /* left: -257px; */
    /* display: none; */
}
.subMenu04 {
    height: 300px;
    /* left: -397px; */
    /* display: none; */
}

/*- 중간 서브메뉴 -*/
.subMenu li {
    /* display: flex; */
    /* flex-direction: column; */
    /* display: inline-block; */
    margin-left: 12px;
    padding: 5px 10px;
    /* list-style: url("../images/bg_gnb_dot.png"); */
    /* background: url("../images/bg_gnb_dot.png") no-repeat; */
    /* background-position: left; */
}
.subMenu > li a {
    padding: 2px 15px;
    background: url("../images/bg_gnb_dot.png") no-repeat;
    background-position: 3%;
}
.subMenu01 li,
.subMenu03 li,
.subMenu04 li {
    width: 220px;
}
/* 전문자격 메뉴 */
.subMenu02 > li {
    padding: 0;
    list-style: none;
}
.subMenu .subMpro { 
    display: inline-block;
    vertical-align: top;
    margin: 8px 30px 0 0;
}
.subMenu .subMpro a {
    display: block;
    margin: 3px 0;
    padding: 2px 15px;
    /* background-clip: content-box; */
    background: url("../images/bg_gnb_dot.png") no-repeat;
    background-position: 5px;
}
.subMenu .subcolor {
    width: 900px;
    text-align: center;
    color: #016aba;
    /* display: none; */
}

/*-- 최하위 서브메뉴 --*/
.subMenu .ssubM {
    display: none;
    position: absolute;
    left: 230px;
    top: 22px;
    padding-left: 5px;
    border-left: 1px dashed #ccc;
    height: 280px;
    width: 200px;
    line-height: 1.0em;
    font-size: 12px;
    z-index: 50;
}
.subMenu .ssubM a{
    padding: 2px 15px;
}




/* 최하위 메뉴호버 */
/*
.mainMenu .subMenu > li:hover > a {
    color : #0195d3;
}
.mainMenu .subMenu li.on > ul {
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 50;
}*/

/* 헤더 영역 끝 */


/* 푸터 영역 */
footer {
    width: 1200px;
    margin: 70px auto 0 auto;
}
.footer {
    padding: 10px 0 30px 70px;
    position: relative;
    border-top: 1px solid #ccc;
}
.footer_top {
    clear: both;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
}
.footer_top ul li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.footer_top ul li::before {
    content: " | ";
}
.footer_top ul li:first-child::before {
    content: " ";
}
.footer_top .sw_bn {
    display: inline-block;
    margin-left: 20px;
}
.footer_top .sw_bn a {
    padding: 7px;
}
.footer_top .site_go {
    display: inline-block;
    margin-left: 38px;
}
.footer_top .site_go select {
    padding: 5px 10px ;
    margin-left: 15px;
    border-radius: 10px;
}
.footer_top .site_go button {
    background-color: #51585C;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    margin: 0 3px;
}
/* 배너 */
.footer_bn {
    float: left;
    margin-left: 195px;
    position: relative;
    z-index: 10;
}
.footer_bn strong {
    display: inline-block;
    width: 160px;
    margin: 4px;
}
.footer_bn strong img {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 160px;
    height: 50px;
    z-index: 20;
}
.footer_address{
    clear: both;
    position: relative;
    z-index: 0;
    top: -45px;
    height: 50px;
}
.footer_address .footer_logo {
    position: absolute;
    width: 180px;
    top: -20px;
}
.footer_address address {
    display: inline-block;
    font-style: normal;
    position: relative;
    left: 200px;
    top: 50px;
    padding: 5px;
    z-index: 0;
}
.footer_address address a {
    color: #D41534;
    font-weight: bold;
}
.footer_address em {
    font-style: normal;
    position: relative;
    left: 200px;
    top: 50px;
}